frontend/node_modules
frontend/.env.local
backend/.env
backend/node_modules
kubernetes/jenkinsssh
kubernetes/jenkinsssh.pub
kubernetes/ingress-argocd.yaml
kubernetes/kind-argocd.yaml
/node_modules
coverage/
.idea/
